# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

#Studio Files
*.suo
*.tlog
*.vcxproj.user
Debug/*
Tutorials/Debug/*
Tutorials/x64/Debug/*
.vs/SDL_Projects/v16/*